<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lwg.springbootshiro.mapper.UserMapper">
    <!--注册-->
    <insert id="save" parameterType="com.lwg.springbootshiro.pojo.User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user
        values (#{id}, #{username}, #{password}, #{salt})
    </insert>

    <!--根据用户名查找用户-->
    <select id="findByUsername" resultType="com.lwg.springbootshiro.pojo.User">
        select id, username, password, salt
        from t_user
        where username = #{username}
    </select>
</mapper>